
.traffic-light {
    width: 50px;
    height: 140px;
    background-color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  .light {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .red {
    background-color: red;
  }
  
  .yellow {
    background-color: yellow;
  }
  
  .green {
    background-color: green;
  }
  .glow {
    box-shadow: 2px 2px 118px 45px rgba(241,140,0,0.75);
  }